body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

#day-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#timetable {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: black;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.5); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}

.period .start-time,
.period .end-time {
    position: absolute;
    font-size: 8pt;
    opacity: 0.4;
}

.period .start-time {
    top: 5px;
    left: 5px;
}

.period .end-time {
    bottom: 5px;
    left: 5px;
}

.lesson {
    background: #98dfff;
}

.break {
    background: #cacaca;
    font-size: 10pt;
    border-top: 0;
    border-bottom: 0;
}

.free-period {
    background: #b7ffdb;
}

.short-gap {
    background: #ffffff;
}

.free-period-text {
    font-size: 10pt;
    opacity: 0.5;
}

.subject {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 3px;
}

.teacher {
    font-size: 10pt;
    margin-bottom: 8px;
}

.code {
    font-size: 8pt;
    opacity: 0.5;
}

#time-indicator {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: red;
    z-index: 0;
}